# Backend Configuration for Production Environment
# Usage: terraform init -backend-config=backend-prod.hcl

bucket       = "gunarsk-portfolio-terraform-state-prod"
key          = "infrastructure/terraform.tfstate"
region       = "eu-west-1"
encrypt      = true
use_lockfile = true
