tls:
  certificates:
    # Certificate files are mounted from ${TRAEFIK_CERT_DIR}
    # Default: localhost.crt and localhost.key
    - certFile: /certs/localhost.crt
      keyFile: /certs/localhost.key
  stores:
    default:
      defaultCertificate:
        certFile: /certs/localhost.crt
        keyFile: /certs/localhost.key